.Home{
   
   display: flex;
   justify-content: left;
   
    height: 90vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../assets/pizzahome.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image:url('../assets/pizzahome.jpg'); */
    
    
}

.headerContainer{
color: white;
display: flex;
flex-direction: column;
align-items: center;
height: 90vh;
font-family: 'Courier New', Courier, monospace;
margin-left: 100px;
}

.orderNow{
    border: none;
    font-size:60px;   
    padding: 20px 25px;
    cursor: pointer;
    font-weight: bold;
    /* border-radius: 300px; */
    text-decoration: none;
    background-color: #121619;
    border:1px solid white;
    color: white;
}

.orderNow:hover{
      background-color: #07090a;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.heading{
    font-family: cursive;
    font-size: 100px;
    margin-left:10px;
    margin-bottom: 5px;
    
}
.subHeading{
    font-size:50px;
    margin: 0px;
    margin-bottom: 150px;
    
}

